<div>
	<%= form_for(@category) do |x| %>

			
			<div class="form-group">
					<%= x.label :title%> 
					<%= x.text_field :title, class: 'form-control'%>
			</div>

			<%= x.submit "submit", class:'btn btn-primary' %>
	<% end %>
</div>