<% if current_user.wallet != nil%>
	<div class='wallet-info'>
		<button type="button" class="btn btn-success btn-lg wallet-button">
												Wallet <span class="badge badge-light"> NGN <%=current_user.wallet.balance%>.00</span>
											</button> </div>
<% end %>