<div class="card waec">
					<%= image_tag('waec.jpg', class:"card-img-top")  %>
					<div class="card-body">
						<h3 class="card-title">WAEC RESULT CHECKER</h3>
						<h5 class="card-text"> For checking WAEC results</h5>
						
						<%= link_to('Buy Now', new_payment_path,  class: 'btn btn-primary sign-in') %>
					</div>
					<div class="card  neco">
						<%= image_tag('neco.jpg', class:"card-img-top")  %>
						<div class="card-body">
							<h3 class="card-title">NECO RESULT CHECKER</h3>
							<h5 class="card-text"> For checking NECO results</h5>
						
						<%= link_to('Buy Now', new_payment_path,  class: 'btn btn-primary sign-in') %>
					</div>
				</div>