.user-name {
	padding: 0 !important ;
	padding-left: 5px;
	padding-top: 15px !important;
	text-align: center;

	a {
		color: black !important;
		margin: 0 !important;
		padding: 5px!important;
	}
		a:hover, a:focus {
		color: #000 !important;
	}
}
.logout {
	padding-left: 0;
	margin-top: 20px;
}
.nav.navbar-right {
	padding-bottom: 10px;
	padding-top: 5px;
}
.nav.navbar-nav {
	.navbar-link {
		border-radius: 5px;
		color: #fff;
		margin-top: 15px;
		padding: 8px;
	}

	.navbar-link:focus, .navbar-link:hover {
		background: #3071a9;
		color: #fff;
	}

	li a {
		margin-right: 5px;
	}

}
.nav.navbar-right li {
	.btn {
		color: #fff !important;
		margin-top: 5%;
	}
	.btn-danger:hover, .btn-danger:focus {
		background-color: darken(#d9534f,20%) !important;
	}
	.btn-primary:hover, .btn-primary:focus {
		background-color: darken(#428bca,20%) !important;
	}
}
.btn-primary:visited, .btn-danger:visited {
	color: #fff;
}

features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url('meeting.jpg');
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 65px;
	height: 300px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

}

.no-left-padding {
  padding-left: 0 !important;
}

.listing, li {
  list-style: none;
  padding-left: 0;
}
ul li {
	list-style: none;
}
.post-single{
	p{
		line-height: 2em;
		margin-top: 3em;
	}
	img{
		display: block;
  	margin-left: auto;
 	 	margin-right: auto;
  	width: 70%;
	}
}
.user_avatar{
	img{
		border-radius: 50%;
		height: 40px;
	}
}
.greetings{
	margin-right: 5px;
	margin-top: 20px;
}
.edit_delete{
	margin-top: 30px;
}

.posts, .categories, .users, .cardTypes, .soldCards, .unsoldCards, .cards{
	display: none;
}
.card-width{
	width: 50% !important;
}

.create-wallet{
	margin: 30px 0 200px 160px;
}
.wallet-info{
	float: right;
	.wallet-button{
		height: 100px;
		font-size: 30px;
	}
	span{
		font-size: 30px;
	}

}
