
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		<% @categories.each do |category|%>
			<%= link_to category.title, category_path(category), class:"dropdown-item d-block" %>
						
		<% end %>
  </div>
</div>

<script> $('.dropdown-toggle').dropdown() </script>

