<div class="motion-about">
		<font color="WHITE">
			<marquee direction="left" style="background:GREEN">
			WELCOME TO <strong > FASTFIVE CBT CENTER  <%= image_tag('fastfive2.png') %></strong>
			JAMB Accredited Examination Center. Sales of JAMB, POSTUTME, NYSC, WAEC, NECO, GCE, NECO GCE,
			NABTECH FORMS etc. Sales of also result checker Scratch Cards: JAMB, WAEC, NECO, NABTECH, and 
			Any Tertiary Institutions which can be bought online etc.
			We also provide centers for company recruitment exams. <strong>
			hotlines: +2347035833276, +2348082577417, +2349033376642
			</strong>
			<strong color="RED"> FASTFIVE CBT CENTER <%= image_tag('fastfive2.png') %> </strong>
			 
		</marquee></font>
</div>